---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vicente Monsalve Gómez">
	<section class="bg-[#4dc6c3] w-full  h-[93vh] relative flex justify-center lg:h-screen md:h-[84vh]">
		<div class="text-center pt-40 h-full lg:pt-64 md:pt-10">
			<p class="font-bold text-[#ffa618] [text-shadow:_5px_3px_0_rgb(164_37_23)] lg:text-7xl md:text-6xl text-7xl">Vicente Monsalve Gómez</p>
			<p class="font-extrabold text-[#ffa618] [text-shadow:_4px_2px_0_rgb(164_37_23)] lg:text-3xl md:text-2xl text-3xl pt-8">Full Stack developer</p>
		</div>

		<img src="miyo2.png" alt="Este soy yo" class="lg:w-[25%] md:w-[17%] w-[55%] w-30rem absolute bottom-0 animate-up">
	</section>

	<section class="bg-[#4dc6c3] w-full h-screen relative">
		<div>
			<h1 class="text-2xl font-extrabold">Proyectos </h1>
			<div class="bg-slate-500 w-full h-full flex justify-around flex-row flex-wrap">
				<Card background="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"/>
			</div>
		</div>

	</section>
</Layout>

<style>
	@font-face {
		font-family: "Montserrat";
		src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
	}

	@keyframes animate-up {
		from {
			transform: translateY(100vh);
		}

		to {
			transform: translateY(0px);
		}
	}

	.animate-up{ animation-name: animate-up; animation-duration: 1s; animation-timing-function: linear;}
</style>