---
import Card from '../components/Card.astro';
import Proyecto from '../components/Proyecto.astro';
import TechProyecto from '../components/Tech-proyecto.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vicente Monsalve Gómez">
	<section class="bg-[#4dc6c3] w-full  h-screen relative flex justify-center">
		<div class="text-center pt-40 h-full lg:pt-64 md:pt-10">
			<p class="font-bold text-[#ffa618] [text-shadow:_5px_3px_0_rgb(164_37_23)] lg:text-7xl md:text-6xl text-7xl">"Vicente Monsalve Gómez"</p>
			<p class="font-extrabold text-[#ffa618] [text-shadow:_4px_2px_0_rgb(164_37_23)] lg:text-3xl md:text-2xl text-3xl pt-8">A Full Stack Developer</p>
			<div class="[&>a>img]:w-10 flex justify-center gap-8 pt-6">
				<a href="https://github.com/VicenteMon"><img src="ico/github_logo.svg" alt="github_logo"></a>
				<a href="#"><img src="ico/linkedin_logo.svg" alt="linkedin_logo"></a>
			</div>
		</div>

		<img src="miyo2.webp" alt="Este soy yo" class="lg:w-[21vw] md:w-[17%] w-[55%] w-30rem absolute bottom-0 animate-up">
	</section>

	<section class="bg-[#4dc6c3] w-full h-auto relative py-16 z-10"> <!-- Esto hay que cambiarlo -->
		<h1 class="text-4xl font-extrabold lg:px-40 md:px-30 px-10">Mi Stack:</h1>
		<div class="w-full h-full flex md:justify-center justify-center flex-row flex-wrap md:gap-20 gap-8 lg:px-40 md:px-30 px-0 pt-16">
			<Card background="javascript_logo.svg"/>
			<Card background="html_logo.svg"/>
			<Card background="css_logo.svg"/>
			<Card background="astro_logo.svg"/>
			<Card background="laravel_logo.svg"/>
			<Card background="mariadb_logo.svg"/>
			<Card background="tailwind_logo.svg"/>
			<Card background="php_logo.svg"/>
			<Card background="git_logo.svg"/>
			<Card background="java_logo.svg"/>
		</div>
	</section>

	<section class="bg-[#4dc6c3] w-full h-auto relative py-16 z-10"> <!-- Esto hay que cambiarlo -->
		<h1 class="text-4xl font-extrabold lg:px-40 md:px-30 px-10">Sobre mi:</h1>
		<div>
			<p class="[&>span]:font-bold text-xl">
				Soy <span>Desarrollador Web</span> recién titulado deseando adquirir nuevos conocimientos. Con experiencia en <span>Laravel</span> y <span>JavaScript</span>. Intentando mejorar un poquito más cada día.
			</p>
			<div class="w-full h-full flex md:justify-center justify-center flex-row flex-wrap md:gap-20 gap-8 lg:px-40 md:px-30 px-0 pt-16">
				<Card background="javascript_logo.svg"/>
				<Card background="html_logo.svg"/>
				<Card background="css_logo.svg"/>
				<Card background="astro_logo.svg"/>
				<Card background="laravel_logo.svg"/>
				<Card background="mariadb_logo.svg"/>
				<Card background="tailwind_logo.svg"/>
				<Card background="php_logo.svg"/>
				<Card background="git_logo.svg"/>
				<Card background="java_logo.svg"/>
			</div>
		</div>
	</section>
	
	<section class="bg-[#4dc6c3] w-full h-auto relative py-16 z-10">
		<h1 class="text-4xl font-extrabold lg:px-40 md:px-30 px-10">Proyectos:</h1>
		<div class="w-full h-full flex md:justify-center justify-center flex-row flex-wrap md:gap-12 gap-4 lg:px-40 md:px-30 px-1 pt-16 ">
			<Proyecto titulo="Mi primer porfolio" descripcion='Este el mi primer porfolio creado' portada='mi-porfolio.webp' link="#">
				<TechProyecto background="ico/astro_logo.svg" slot="tenologias"/>
				<TechProyecto background="ico/html_logo.svg" slot="tenologias"/>
				<TechProyecto background="ico/tailwind_logo.svg" slot="tenologias"/>
			</Proyecto>
			<Proyecto titulo="Proyecto de prueba" descripcion='Eso es un proyecto de prueba' portada='unsplash.webp' link="#">
				<TechProyecto background="ico/html_logo.svg" slot="tenologias"/>
			</Proyecto>
			<Proyecto titulo="Proyecto de prueba" descripcion='Eso es un proyecto de prueba' portada='unsplash.webp' link="#">
				<TechProyecto background="ico/html_logo.svg" slot="tenologias"/>
			</Proyecto>
			<Proyecto titulo="Proyecto de prueba" descripcion='Eso es un proyecto de prueba' portada='unsplash.webp' link="#">
				<TechProyecto background="ico/html_logo.svg" slot="tenologias"/>
			</Proyecto>
			<Proyecto titulo="Proyecto de prueba" descripcion='Eso es un proyecto de prueba' portada='unsplash.webp' link="#">
				<TechProyecto background="ico/html_logo.svg" slot="tenologias"/>
			</Proyecto>
		</div>
	</section>
</Layout>

<style>
	@font-face {
		font-family: "Montserrat";
		src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
	}

	@keyframes animate-up {
		from {
			transform: translateY(100vh);
		}

		to {
			transform: translateY(0px);
		}
	}

	.animate-up{ animation-name: animate-up; animation-duration: 1s; animation-timing-function: linear;}
</style>


<!-- https://ar.pinterest.com/pin/797911258970794949/ -->