---
export interface Props {
	background: string;
}

const {background} = Astro.props;
---

<span class="tecnologia bg-white rounded-lg w-[10rem] h-[10rem]">
	<div class=`bg-[url('${background}')] bg-center bg-no-repeat`>
		<slot />
	</div>
</span>
