---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<span class="tecnologia bg-white rounded-lg w-5rem h-auto">
	<div>
		<slot />
	</div>
</span>
