---
export interface Props {
	background: string;
}

const {background} = Astro.props;
---

<div class=`group tecnologia bg-white rounded-sm w-[2rem] h-[2rem] flex justify-center items-center bg-opacity-100 lg:bg-opacity-0 group-hover:bg-opacity-100 group-hover:transition ease-in-out duration-300`>
	<div class=`bg-cover bg-center h-[80%] w-[80%] rounded-sm lg:opacity-0 opacity-100 group-hover:opacity-100 group-hover:transition ease-in-out duration-300` style=`background-image: url('${background}');`>
		<slot/>
	</div>
</div>
